* {
    font-family: 'SUIT', sans-serif;
    word-break: keep-all;
    outline: none !important;
}

h1.brand,
strong.brand{
    width: 96px;
    height: 40px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
}
h1.brand.brand-default,
strong.brand.brand-default {
    background-image: url('../images/logo_default.svg');
}
h1.brand.brand-white,
strong.brand.brand-white {
    background-image: url('../images/logo_white.svg');
}
h1.brand > a,
strong.brand > a {
    display: block;
}

header.primary-header section.navigation ul > li > a {
    font-size: 0.96rem;
    font-weight: 600;
    color: #1b3354;
    letter-spacing: -0.04rem;
}

footer > p {
    font-size: 0.8rem;
    color: #ffffff;
    opacity: 0.64;
}