header.management-primary {
    background-color: #1b3354;
}
header.management-primary section.menu {
    margin-right: -16px;
}
header.management-primary section.menu a {
    font-size: 0.88rem;
    color: #ffffff;
    opacity: 0.72;
}
header.management-primary section.menu a:hover,
header.management-primary section.menu a:focus,
header.management-primary section.menu a.active {
    opacity: 1;
}

header.page-subject {
    border-bottom: 2px solid #1b3354;
    background-image: url('../images/sub_subject_background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}
header.page-subject > h3 {
    font-weight: 700;
}


.offcanvas-header {
    height: 72px;
    background-color: #1b3354;
}
.offcanvas-header .set-brand-position {
    position: absolute;
    left: 32px;
    top: 16px;
}
.offcanvas-header .menu-close {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 24px;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.6rem;
}
.offcanvas-menu > nav > ul {
    display: flex;
    flex-direction: column;
}
.offcanvas-menu > nav > ul a {
    height: 48px;
    font-size: 1.04rem;
    color: #2b3035;
}